.welcome {
  margin: 64px 0 0;
  padding: 48px 0;
}

.welcome .headingWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
} 

.welcome h1 {
  display: inline-block;
  margin: 0;
  font: var(--font-8-bold);
  font-optical-sizing: none;
}

.welcome .profilePicture {
  width: 96px;
  /*align-self: center;*/
  box-shadow: var(--shadow-inner-3);
  border-radius: 100%;
}

.welcome .profilePicture img {
  z-index: -1;
}

.welcome .intro {
  margin: 32px 0 0;
  font: var(--font-5);
  color: var(--gray-600);
}