.welcome {
  margin: 64px 0 0;
  padding: 48px 0;
}

.welcome .headingWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
} 

.welcome h1 {
  display: inline-block;
  margin: 0;
}

.welcome .profilePicture {
  width: 96px;
  box-shadow: var(--shadow-inner-3);
  border-radius: 100%;
}

.welcome .profilePicture img {
  z-index: -1;
}

.welcome .intro {
  margin: 32px 0 0;
  font: var(--font-5);
  color: var(--gray-600);
}

section.projects {
  margin: 48px 0 96px;
  padding: 64px 0 0;
}

.projects h2 {
  margin: 0;
}

.projects ul {
  margin: 64px 0 0; 
  padding: 0;
}

.projects ul li {
  margin: 64px 0 0;
  padding: 0;
  display: flex;
  align-items: flex-start;
}

.projectEntry {
  position: relative;
}

.projectEntry:hover .projectName {
  text-decoration: underline;
  text-decoration-thickness: 3px;
}

.projectEntry:active .projectName {
  color: black;
}

.projectEntry .projectLink {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.projectImage {
  width: 96px;
  flex-shrink: 0;
}

.projectImageNotMacScreenshot {
  width: 92px;
  margin: 0 2px;
  border-radius: 1px;
  box-shadow: var(--shadow-1)
}

.projectData {
  margin-left: 16px;
}

.projectName {
  margin: 8px 0 12px;
  font: var(--font-5-bold);
}

.projectDescription {
  margin: 0;
  color: var(--gray-600);
  font: var(--font-2);
}
