section.contact {
  padding: 96px 0;
}

.contactBtn {
  display: block;
  width: max-content;
  margin: 96px auto;
  padding: 24px;

  border-radius: 3px;
  font: var(--font-3-bold);
  text-decoration: none;
  color: white;
  color: var(--gray-100);
  background-color: black;
  background-color: var(--gray-900);
}