header {
  display: flex;
  padding: 16px;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: block;
  height: 48px;
  width: auto;
}

nav {
  display: inline-block;
}

nav > ul {
  margin: 0;
  padding-left: 0;
}

nav > ul > li {
  display: inline-block;
  margin-left: 24px;
}

.navLink {
  color: gray;
  color: var(--gray-500);
  line-height: 1.5;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
}

.navLink:hover {
  text-decoration: underline;
  text-decoration-thickness: 2px; 
}

.navLink:active {
  color: var(--gray-800);
}

