.projectImage {
  display: block;
  width: 384px;
  max-width: 100%;
}

.projectImage.thumbnail {
  width: 96px;
  flex-shrink: 0;
}

.projectImage.notMacScreenshot {
  max-width: calc(100% - 2*12px);
  margin: 8px 12px 8px;
  border-radius: 3px;
  box-shadow: var(--shadow-2)
}

.projectImage.notMacScreenshot.thumbnail {
  width: calc(96px - 2*2px);
  margin: 0 2px;
  border-radius: 1px;
  box-shadow: var(--shadow-1)  
}
