.socialLinksList {
  margin: 0 auto;
  padding: 18px 32px;
  max-width: 512px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 30px;
}
@media (min-width: 640px) {
  .socialLinksList {
    font-size: 36px;
  }
}
@media (min-width: 1280px) {
  .socialLinksList {
    font-size: 48px;
  }
}

.socialLinksList li {
  display: inline-block;
  line-height: 1.0;
}